.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilização da SideBarCliente */

.custom-menu-cliente {
  --menu-bg: #3f51b5;
  --menu-color: #fff;
  --menu-hover-bg: #fff;
  --menu-hover-color: #3f51b5;
}

.custom-menu-cliente .p-menu {
  background-color: var(--menu-bg) !important;
}

.custom-menu-cliente .p-menuitem {
  background-color: var(--menu-bg) !important;
}

.custom-menu-cliente .p-menuitem-text,
.custom-menu-cliente .p-menuitem-icon {
  color: var(--menu-color) !important;
}

.custom-menu-cliente .p-menuitem:hover {
  background-color: var(--menu-hover-bg) !important;
}

.custom-menu-cliente .p-menuitem:hover .p-menuitem-text,
.custom-menu-cliente .p-menuitem:hover .p-menuitem-icon {
  color: var(--menu-hover-color) !important;
}

/* Estilização da SideBarAdminstrador */

.custom-menu-adm {
  --menu-bg: #0097b2;
  --menu-color: #fff;
  --menu-hover-bg: #fff;
  --menu-hover-color: #0097b2;
}

.custom-menu-adm .p-menu {
  background-color: var(--menu-bg) !important;
}

.custom-menu-adm .p-menuitem {
  background-color: var(--menu-bg) !important;
}

.custom-menu-adm .p-menuitem-text,
.custom-menu-adm .p-menuitem-icon {
  color: var(--menu-color) !important;
}

.custom-menu-adm .p-menuitem:hover {
  background-color: var(--menu-hover-bg) !important;
}

.custom-menu-adm .p-menuitem:hover .p-menuitem-text,
.custom-menu-adm .p-menuitem:hover .p-menuitem-icon {
  color: var(--menu-hover-color) !important;
}

/* Estilização da SideBarAdvogado */

.custom-menu-advogado {
  --menu-bg: #00bf63;
  --menu-color: #fff;
  --menu-hover-bg: #fff;
  --menu-hover-color: #00bf63;
}

.custom-menu-advogado .p-menu {
  background-color: var(--menu-bg) !important;
}

.custom-menu-advogado .p-menuitem {
  background-color: var(--menu-bg) !important;
}

.custom-menu-advogado .p-menuitem-text,
.custom-menu-advogado .p-menuitem-icon {
  color: var(--menu-color) !important;
}

.custom-menu-advogado .p-menuitem:hover {
  background-color: var(--menu-hover-bg) !important;
}

.custom-menu-advogado .p-menuitem:hover .p-menuitem-text,
.custom-menu-advogado .p-menuitem:hover .p-menuitem-icon {
  color: var(--menu-hover-color) !important;
}